.vscode/
**/node_modules
**/.stfolder/
src/CSharp App/bin/
src/CSharp App/obj/
**/build/
CtrlADel.sln
CtrlADel.code-workspace

# Default ignored files
shelf/
workspace.xml
# Rider ignored files
modules.xml
contentModel.xml
.idea.CtrlADel.iml
projectSettingsUpdater.xml
# Editor-based HTTP Client requests
httpRequests/
# Datasource local storage ignored files
dataSources/
dataSources.local.xml