.vscode/
**/node_modules
**/.stfolder/
src/CSharp App/bin/
src/CSharp App/obj/
**/build/
CtrlADel.sln
CtrlADel.code-workspace

shelf/
workspace.xml

modules.xml
contentModel.xml
.idea.CtrlADel.iml
projectSettingsUpdater.xml
.idea/
httpRequests/
.vs/
**/publish/
**.user
dataSources/
dataSources.local.xml