body {
  color: white; /* Set text color to white */
  background-color: #171c26; /* Optional: Set background color */
}
.console {
  font-family: 'Courier New', Courier, monospace; /* Use a monospaced font */
  white-space: pre; /* Preserve whitespace */
  height: 300px; /* Adjust height as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.info-message {
  color: #ffffff; /* Change to your preferred color */
}

.error-message {
  color: red; /* Change to your preferred color */
}

.success-message {
  color: green; /* Change to your preferred color */
}